{% extends 'base.html' %}

{% block title %} Orders by {{ client.name }} {% endblock title %}

{% block content %}
    <h2>
        <a href="{{ client.get_absolute_url }}/year">За год</a>
    </h2>
    <h2>
        <a href="{{ client.get_absolute_url }}/month">За месяц</a>
    </h2>
    <h2>
        <a href="{{ client.get_absolute_url }}/week">За неделю</a>
    </h2>
    <h1>Выберите заказ:</h1>
    {% if orders %}
        {% for order in orders %}
            <h2>
                <a href="{{ order.get_absolute_url }}">{{ order }}</a>

            </h2>
        {% endfor %}
    {% else %}
        <h2>No orders by this client:(</h2>
    {% endif %}
    {% include "pagination.html" with page=orders %}
{% endblock %}