{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="row">
        <h1 class="col-12 col-md-6 display-2">Домашнее задание к первому семинару</h1>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Когда приступил к выполнению ДЗ начал создавать шаблоны для каждого раздела,
                но заметил, что они полностью повторяются</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p> Поэтому создал общий шаблон things.html для разделов с одеждой </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Теперь у нас есть 4 шаблона для 5 страниц сайта:<br>
                1 базовый,<br>
                1 для главной страницы,<br>
                1 для страницы информации,<br>
                1 для всех разделов с одеждой</p>
        </div>
    </div>
{% endblock %}
